<div class="container">

  <div *ngIf="items.length === 0; else showItems">
    There are no items to display
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of items">
        <div class="form-check">
          <label class="form-check-label">
            <input 
            type="checkbox"
            class="checkbox"
            [checked] = item.isComplete
            >
            {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

</div>